# macOS システムファイル
.DS_Store

# 仮想環境
myenv/
venv/

# SQLite データベース
db.sqlite3

# Django 秘密情報 / 環境変数
.env

# Pythonキャッシュ
__pycache__/

# Django 静的ファイル出力ディレクトリ（collectstaticの出力先）
staticfiles/

# 自作 static ファイルを置かない場合
static/

# 個別ファイル
/kokokara.md
kokokara.md
