{% extends "myapp/base.html" %}

{% block title %}MyMail Form{% endblock %}

{% block content %}
<div class="container">
  <h1>ご連絡</h1>

  {# フォーム表示＆送信：/myapp/mymail/ #}
  <form method="post" action="{% url 'myapp:mymail' %}">
    {% csrf_token %}

    <div class="mb-3">
      <label for="{{ form.subject.id_for_label }}">件名:</label>
      {{ form.subject }}
    </div>

    <div class="mb-3">
      <label for="{{ form.message.id_for_label }}">メッセージ:</label>
      {{ form.message }}
    </div>

    <div class="mb-4">
      <label for="{{ form.sender.id_for_label }}">送信者メールアドレス:</label>
      {{ form.sender }}
    </div>

    <button type="submit" class="btn btn-primary">送信</button>
  </form>

  <hr>

  <p>
    <a href="{% url 'myapp:mymail_list' %}">📨 メール履歴検索</a>
    |
    <a href="{% url 'myapp:list' %}">📘 日記一覧へ戻る</a>
  </p>
</div>
{% endblock %}
